/keys.inc
/.settings
/bbclone/var/counter15.inc
/bbclone/var/counter0.inc
/bbclone/var/counter1.inc
/bbclone/var/counter2.inc
/bbclone/var/counter3.inc
/bbclone/var/counter4.inc
/bbclone/var/counter5.inc
/bbclone/var/counter6.inc
/bbclone/var/counter7.inc
/bbclone/var/counter8.inc
/bbclone/var/counter9.inc
/bbclone/var/counter10.inc
/bbclone/var/counter11.inc
/bbclone/var/counter12.inc
/bbclone/var/counter13.inc
/bbclone/var/counter14.inc
/bbclone/var/last.php
/bbclone/var/access.php
/log/packets.txt
